.container-two{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.cl-divs-container{
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap onto the next line */
    max-height: 1600px;
    max-width: 1600px;

}

.item {
    width: 100px;  /* Adjust this to control how many items per row */
    height: 100px;  /* Adjust height if necessary */
    border: 1px solid black;
    box-sizing: border-box;  /* Makes sure border is included in width calculation */
    transition: background-color 0.07s ease; /* Smooth transition for background color */

}

.colored {
    color: white; /* Change text color when hovered */
  }

  .newGrid{
    height: 100px;
    width: 200px;
    font-size: 40px;
  }
  .new-grid-container{
    margin: 100px;
    display: flex;
    justify-content: center;
  }